# Dependencies
node_modules/

# Builds & bundles
dist/
build/
.vite/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/
android/.gradle/

# Testing/coverage
coverage/

# Env/config
.env
.env.*
.DS_Store
*.local
android/local.properties

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDE/editor
.vscode/
.idea/
